# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtualenvs
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data and large files
data/
*.sqlite
*.db
*.npz

# IDE
.vscode/

# Logs
*.log
